.chart-container {
  height: 70vh;
  width: 40vw;
  margin: 0 auto;

  .chart-wrapper {
    width: 100%;
    min-height: 400px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .chart-container {
    height: 60vh;
    width: 50vw;
  }
  .chart-wrapper {
    width: 60%;
    height: 300px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .chart-container {
    height: 80vh;
    width: 50vw;
  }
  .chart-wrapper {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .chart-container {
    height: 100vh;
    width: 30vw;
  }
  .chart-wrapper {
    width: 50%;
    height: 600px;
  }
}

@media (max-width: 768px) {
  .chart-container {
    height: 70vh;
    width: 30vw;
  }
  .chart-wrapper {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .chart-container {
    height: 70vh;
    width: 50vw;
  }
  .chart-wrapper {
    width: 100%;
    height: 300px;
  }
}
