@use "mixins";

// custom menu
.active {
  color: var(--menu-cl) !important;
  font-weight: 600;
  @include mixins.transition(var(--duration));
  svg {
    fill: var(--menu-cl) !important;
    @include mixins.transition(var(--duration));
  }
}
